# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# IDEs
.vscode/
.idea/

# Flutter/Dart
.dart_tool/
build/
.packages
.flutter-plugins

# OS files
.DS_Store
Thumbs.db

# Secrets
.env